.b-logo {
  padding-left: 20px;
}

.b-system-message {
  background-color: $gray_20;
  text-align: center;
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 9px 0 0;
  z-index: -1;
  text-transform: uppercase;
  @include transition;

  &.m-visible {
    top: 58px;
  }

  &.error {
    background-color: $red;
    color: white;
  }

  p {
    font-size: 1rem;
    text-transform: uppercase;
    color: $gray_60;
    font-weight: 400;
    line-height: 1;

  }
}

.b-instructions {
  padding: 30px 0;

  h3 { padding-left: 15px; }
  p { padding: 15px;
    a { text-decoration: underline; }
  }
}


.b-canvas-title {
  margin-top: 60px;
  margin-bottom: 20px;

  h1 {
    color: $gray_40;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
  }

}

.b-canvas-description {
  border-bottom: 1px solid $gray_20;
  overflow: hidden;

  .fa {
    float: left;
    color: $gray_20;
    margin-top: 10px;
    z-index: 1;
    position: relative;
  }

  .e-canvas-descriptions,
  .e-one-liner {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid transparent;
    color: $gray_60;
  }

  .e-canvas-descriptions {
    width: 90%;
    padding-left: 40px;
    position: relative;
    left: -30px;
  }

  .e-one-liner:hover,
  .e-canvas-descriptions:hover {
    border-color: $gray_10;
  }
  .e-one-liner:focus,
  .e-canvas-descriptions:focus {
    border-color: $gray_40;
  }

  #canvas-one-liner {
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
  }
}

.b-canvas {
  margin: 30px 20px 60px;

  .e-group-title {
    margin-top: 40px;
  }

  .e-canvas-section {
    position: relative;
    border: 1px solid $gray_20;
    background-color: $white;
    vertical-align: top;
    margin: 5px;
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 20px;
    @include drop-shadow-light;
    min-height: 400px;

    h3 {
      font-size: 1rem;
      color: $purple;
      margin-right: 25px;
    }

    h4 {
      font-size: 14px;
      font-style: italic;
      color: $gray_60;
    }

    .e-add-comment {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      color: $gray_20;

      &:hover {
        color: $purple !important;
      }
    }

    &:hover .e-add-comment { color: $gray_40; }

    .e-canvas-content {
      // width: 100%;
      padding: 10px 15px;
      resize: none;
      flex: 2;
      font-family: proxima-nova, sans-serif !important;

      &:disabled {
        box-shadow: none;
        padding: 0;
      }

      &:hover:enabled {
        border: 1px solid #ccc;
      }

      &:focus:enabled {
        border: 1px solid #ccc;
      }
    }
    .e-canvas-content-md {
      padding: 10px 15px;
      flex: 2 1 0;
      width: 100%;
      height: 2.3125rem;
      border: 1px solid #ccc;
      margin: 0px 0px 1rem;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
      box-sizing: border-box;
      transition: all 0.15s linear 0s;
      overflow-y: auto;

      p, div, li, i, strong, b {
        color: rgba(0, 0, 0, 0.75);
        font-size: 0.875rem;
        font-family: proxima-nova, sans-serif !important;
        font-weight: 400;
      }

      ul {
        list-style-position: inside;
      }

      li {
        list-style-type: disc;
      }

      strong, b {
        font-weight: 600;
      }
    }

    .e-canvas-comment {
      border-top: 1px solid $gray_20;
      padding-top: 4px;
      font-size: 0.9rem;
      font-style: italic;
      color: $gray_60;
      padding: 5px 8px;
      resize: none;
      flex: 1;

      .e-delete-comment {
        float: right;
        cursor: pointer;

        &:hover {
          color: $red;
        }
      }


    }

    .e-canvas-timestamp {
      font-size: .8rem;
      color: $gray_50;
      font-weight: 600;
    }
  }
}

.b-release-note {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $gray_40;

  h1 {
    font-size: 1.8rem;
    font-size: 400;
    text-align: left;
    margin: 10px 0 10px;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $gray_40;
  }

  .e-date {
    margin-top: 35px;
  }

  .e-version {
    color: $gray_80;
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width : $desktop_width) {
.b-canvas-title {
  margin-top: 40px;
  margin-bottom: 20px;

  h1 {
    color: $gray_40;
    font-size: 3rem;
    font-weight: 100;
  }
}

.b-top-navigation.m-full {
  padding: 0 10px;
}

.b-canvas {
  margin-top: 40px;

  .e-canvas-line {
    display: flex;
  }

  .e-canvas-col {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

#canvas {

}

#edit-canvas {
  width: 40%;
}

}


