.b-top-navigation-wrapper {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    @include transition;

    &.m-hidden {
        top: -70px;
    }
}

.b-top-navigation {
    @include drop-shadow;

    .e-canvas-edit {
        float: right;
        padding: 11px;
        cursor: pointer;
        font-size: 24px;
        font-weight: 100;
        color: $white;
    }

    .e-language {
        float: right;
        margin: 16px 10px 0 0;
        font-size: 16px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .b-languages-links {
        position: absolute;
        background-color: $purple;
        right: 20px;
        top: 59px;

        li {
            margin: 0;
            padding: 10px 15px;
            color: white;
            cursor: pointer;
        }
    }
}

.b-logo {
    display: block;
    background-color: $purple;
    padding: 2px 0 4px;
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    color: $white;

    &:hover {
        background-color: transparent;
        color: $white;
    }

    img {
        width: 110px;
        margin-right: 10px;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
    }
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {

.b-top-navigation {
    padding: 0;
    height: 58px;
    background-color: $purple;

    .row {
        text-align: left;
    }
}

.b-logo {
    display: inline-block;
    max-width: 30%;
    margin-top: 5px;

    img {
        width: 140px;
        vertical-align: text-bottom;
    }

    span {
        vertical-align: text-bottom;
    }
}
}
