#homepage {
	
	#intro {
		padding-top: 100px;	
		text-align: center;

		h1 { font-size: 6rem; }
		h3 { 
			font-size: 2rem; 
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 0;
		}
		p { font-size: 2rem; }
	}

	.b-big-question {
		background-size: cover;
		padding: 100px 0;

		.e-text-block {
			padding: 30px;
			margin: 50px;

			p {
				font-size: 2rem;
				font-weight: 100;
			}
		}

		&:last-of-type { margin: inherit; }
	}

	.b-tile {
		.flip-container,
		.flipper,
		.front,
		.back { height: 600px; }

		.front { background-color: $purple; }
		.back { background-color: $gray_20; }

		.e-tile-title {
			text-align: left;
			font-size: 4.3rem;
			color: $white_80;
		}
		
		h3 { color: $purple; }	
	}
	
}