#landing {
  padding-top: 40px;
  padding-bottom: 30px;

  p a {
    text-decoration: underline;
  }
}

#login {
  padding-top: 150px;

  .b-panel {
    text-align: center;
  }

	.e-login-button {
		width: 300px;
		cursor: pointer;
	}
}

.b-create-canvas {
  p {
    font-size: 1rem;
    margin-bottom: 25px;
  }

  select {
    color: #3f3f3f;
    background-color: white;
  }
}

.b-project-list {
  .b-project-list-filters span {
    padding: 0 10px;
    color: $gray_60;
    cursor: pointer;

    &:hover {
      color: $gray_80;
    }
  }

  .e-project-list-item {
    padding: 3px 10px 4px;
    border-bottom: 1px solid $gray_10;
    margin-bottom: 5px;

    span {
      cursor: pointer;
    }
  }
}

.b-panel {
  position: relative;
  border: 1px solid $gray_20;
  background-color: $white;
  vertical-align: top;
  margin: 5px;
  flex: 1;
  padding: 20px;
  @include drop-shadow-light;

  h3 {
    margin-bottom: 30px;
    color: $gray_60;
    font-size: 2rem;
    font-weight: 100;
  }
}

.b-offcanvas {
  margin-left: 0;

  a {
    color: $gray_80;
    padding: 6px 10px;
    margin: 0 15px;
    display: block;
    border-bottom: 1px solid $gray_20;
    font-weight: 400;
  }
}

.b-edit-canvas {
  h3 {
    margin-bottom: 30px;
    color: $gray_60;
    font-size: 2rem;
    font-weight: 100;
  }

  .e-button {
    float: right;
    margin: 0;
  }
}
