.e-canvas-content-md {
  h1, h2, h3, h4, h5 {
    font-family: 'proxima-nova', sans-serif;
    margin: 10px 0;
    text-align: left;
    font-style: normal !important;
  }

  h1 {
    color: $purple;
    font-size: 1.6rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: $gray_50;
    text-transform: uppercase;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
    color: $purple;
  }

  h5 {
    font-size: 1rem;
    font-weight: 600;
  }

  a {
    text-decoration: underline;
    font-style: italic;
    color: $purple;
  }
}