.b-tile {
	padding: 10px 40px 40px;
	margin-bottom: 20px;
	background-color: $gray_10;

	h3 {
		margin-top: 20px;
		color: $white;
		font-weight: 600;
		text-transform: uppercase;
		opacity: .6;
		font-size: 1.8rem;
	}

	h4 {
		font-weight: 600;
		font-size: 1.2rem;
		color: $gray_50;
		margin-bottom: 0;
		margin-top: 20px;
		letter-spacing: .5px;
	}

	p { color: $gray_80; }
	p:last-child {margin-bottom: 0;}

	.e-more-info {
		margin-top: 20px;
		left: 10%;

		a {
			display: block;
			background-color: $gray_15;
			color: $white_50;
			font-weight: 600;
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 3px;
			border-radius: 3px;
		}
	}
}
