@import "../../../../shared/sass/variables";

body {
	background-color: $gray_3;
}

body, h1, h2, h3, h4, h5, input {
	font-family: proxima-nova, sans-serif;
}

// Shared Modules

//   This is the Shared Relative Path.
//   ../../../../shared/

@import "../../../../shared/sass/base";
@import "../../../../shared/sass/text-blocks";
@import "../../../../shared/sass/colors";
@import "../../../../shared/sass/header";
@import "../../../../shared/sass/off-canvas-menu";
@import "../../../../shared/sass/footer";
@import "../../../../shared/sass/messages";
@import "../../../../shared/sass/layout";
@import "../../../../shared/sass/pop-buttons";
@import "../../../../shared/sass/form";

// Site specific Styles

@import "homepage";
@import "tiles";




@media only screen and (min-width : $desktop_width) {

	h2 {
		font-size: 3rem;
		line-height: 1.2;
	}

	p, li {
		font-size: 1.3rem;
		line-height: 1.4;
	}

	ul {
		margin-left: 0;

		li {margin-bottom: 10px;}
		li:before { top: 8px !important; }
	}
}




