{% extends "layout/base.html" %}
{% block content %}

<div id="about" class="b-content-page">
  <div class="b-page-title">
    <div class="row">
      <div class="large-12 column">
        <h2>About Us</h2>
      </div>
    </div>
  </div>

  <section id="about-govlab">
    <div class="row b-content-section">
      <div class="large-6 column">
        <div class="govlab-logo"><a href="http://thegovlab.org/" target="_blank"><img src="static/img/govlab-logo.png" alt="The GovLab"></a></div>
      </div>
      <div class="large-6 column">
        <p>The GovLab is an action-research center with a mission to improve people’s lives by changing the way we govern. We aim to accomplish this by leveraging advances in technology to enable more open, collaborative, effective, and legitimate ways to make better decisions and solve public problems.</p>
      </div>
    </div>
  </section>

</div>
{% endblock %}

