{% extends "layout/base.html" %}
{% block content %}
<div id="tools" class="b-content-page">
  <section class="b-page-title">
  	<div class="row">
  		<h1>Smart Citizens, Smarter State</h1>
      <p>The Technologies of Expertise and the Future of Governing</p>
      <p class="e-byline">Beth Simone Noveck</p>
  	</div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <p>Government “of the people, by the people, for the people” expresses an ideal that resonates in all democracies. Yet poll after poll reveals deep distrust of institutions that seem to have left “the people” out of the governing equation. Government bureaucracies that are supposed to solve critical problems on their own are a troublesome outgrowth of the professionalization of public life in the industrial age. They are especially ill-suited to confronting today’s complex challenges.</p>
        <p>Offering a far-reaching program for innovation, Smart Citizens, Smarter State suggests that public decisionmaking could be more effective and legitimate if government were smarter—if our institutions knew how to use technology to leverage citizens’ expertise. Just as individuals use only a small part of their brainpower, most governing institutions make far too little use of the skills, experience, and know-how of those inside and outside of government with scientific credentials, practical skills, and ground-level street smarts. New tools—what Beth Simone Noveck calls technologies of expertise—are making it possible to match the supply of citizen expertise to the demand for it in government.</p>
        <p>Drawing on a wide range of academic disciplines and practical examples from her work as an adviser on institutional innovation to governments, Noveck explores how to create more open and collaborative institutions. In so doing, she offers a profound new vision for participatory democracy rooted not in the paltry act of occasional voting or the serendipity of crowdsourcing but in people’s knowledge and skills.</p>
        <h3>Bio</h3>
        <p>Beth Simone Noveck is Jerry M. Hultin Global Network Visiting Professor at New York University Polytechnic School of Engineering and a Visiting Professor at the MIT Media Lab.</p>
      </div>
    </div>
	</section>

</div>
{% endblock %}