{% extends "layout/base.html" %}
{% block content %}
<div id="living-labs" class="b-content-page">
  <section class="b-page-title">
  	<div class="row">
  		<h1>Network of Innovators</h1>
  	</div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <p>The project (coordinated by the Governance Lab and NESTA) aims to organize directories of expertise, including skills and experience, of those working in government across multiple countries in twelve domains believed to be integral to governing more effectively and legitimately:</p>
        <ul class="b-list">
          <li>open and big data,</li>
          <li>agile and rapid prototyping, including human-centered design </li>
          <li>behavioral sciences and nudging, </li>
          <li>systems thinking, </li>
          <li>crowdsourcing and engagement, </li>
          <li>payment by results, </li>
          <li>public-private partnerships, </li>
          <li>citizen science, </li>
          <li>prizes and challenges, </li>
          <li>social action and collaborative governance, </li>
          <li>social impact bonds, and </li>
          <li>expert systems.</li>
        </ul>  
        <p>The goal is to end up with directories of individuals and the innovative projects they have worked on together with the communications tools to ask a question, convene groups or varying sizes, or engage people in drafting collaborative.</p>

        <p>The hope is that the Network of Innovators can make it possible to:</p>
        <ul class="b-list">
          <li>Find who else has experience trying an innovation. </li>
          <li>Identify who has worked on a particular type of policy or problem and knows of something new that works.</li>
          <li>Find collaborators to develop new ideas for tackling a shared problem together.</li>
          <li>Form alliances and networks of supporters. </li>
          <li>And, in so doing, describe the job profile of the 21st century public servant. </li>
        </ul>

        <p>The Network is not a new organization but a mechanism for making expertise across existing alliances and networks useful and searchable.</p>

        
      </div>
    </div>
  </section>
</div>
{% endblock %}