{% extends "layout/base.html" %}
{% block content %}
<div id="homepage" class="b-content-page">
  <div id="intro" class="b-content-section">
    <div class="row">
      <div class="large-12 column">
        <h1>Smarter State</h1>
        <h3>The Challenge</h3>
        <p>Creating the Conversational Infrastructure to Connect Expertise to Government</p>
      </div>
    </div>
  </div>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h1>The Smarter State</h1>
        <h2>Systematically Matching Expertise to Problems</h2>
        <p>There is possibly no more important public issue today than how to evolve our governing organizations to make them better able to recognize and implement innovative and effective ways of solving 21st Century problems. Governments need to learn to make use of the full gamut of expertise — formal scientific knowledge and credentials, but also skills, experiences and craft know-how — to tackle the challenges society will face in the coming years.</p>        
      </div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div id="blog-container-home" class="column large-8 b-blog-lite"></div>
      <div id="twitter-container" class="column large-4">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/smarterstate" data-widget-id="568130111262957568">#smarterstate Tweets</a>
      </div>  
    </div>
  </section>
  <!-- <section id="cyber-security" class="b-content-section b-big-question">
    <div class="row">
      <div class="e-text-block">
        <p>If only there were a directory of those with skills, experience as well as credentials in cyber-security, imagine being able to reach out to them in the event of an infrastructure attack.</p>
      </div>
    </div>
  </section>
  <section id="emergency" class="b-content-section b-big-question">
    <div class="row">
      <div class="e-text-block">
        <p>If only there were a way to identify those inside and outside of government who have led emergency responses in the past, lied in the affected region or who have experimented with open data or crowdsourcing to combat a scourge successfully. Imagine being able to connect quickly and ask questions in the event of a pandemic.</p>
      </div>
    </div>
  </section>
  <section id="push-out-questions" class="b-content-section b-big-question">
    <div class="row">
      <div class="e-text-block">
        <p>If only there were a way to push out questions about our greatest public challenges to networks of experts across multiple institutions and organizations.</p>
      </div>
    </div>
  </section>
  <section id="target" class="b-content-section b-big-question">
    <div class="row">
      <div class="e-text-block">
        <p>Targeting expertise and matching people to opportunities to contribute what they know for public good could save time and financial resources, and perhaps, even lives.</p>
      </div>
    </div>
  </section>
  <section id="identify" class="b-content-section b-big-question">
    <div class="row">
      <div class="e-text-block">
        <p>But identifying who knows what even inside government — let alone outside — is hard. Titles such as “director” and “manager” disclose little about lived experience.</p>
      </div>
    </div>
  </section> -->

  <section>
    <div class="row b-tile-row">
      <div class="column large-6">
        <div class="b-tile flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <h2 class="e-tile-title">If only we had the tools to search for expertise</h2>
            </div>
            <div class="back">
              <h3>The Technologies of Smarter Governance</h3>
              <p>Over the last decade software makes it possible to identify with precision who knows what and match them to opportunities to serve. These tools -- expert networking platforms, people search, expert discovery, expertise retrieval, expert finding, expert profiling, and e-expertise tools -- help to answer the question: who knows what. We are researching existing and designing new tools to make expertise searchable.</p>
              <p class="e-more-info"><a href="tools.html">Go to Tools</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="column large-6">
        <div class="b-tile flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <h2 class="e-tile-title">If Only It Were Illegal</h2>
            </div>
            <div class="back">
              <h3>The Law of Smarter Governance</h3>
              <p>It is not an exaggeration to say that today’s information laws at the federal level in the United States, especially the Federal Advisory Committee Act and the Paperwork Reduction Act, impede robust citizen engagement. We are working to craft law and policy to support smarter governance (in collaboration with Yale Law School).</p>
              <p class="e-more-info"><a href="law.html">Go to Law</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row b-tile-row">
      <div class="column large-6">
        <div class="b-tile flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <h2 class="e-tile-title">If Only We Knew What Works</h2>
            </div>
            <div class="back">
              <h3>The Smarter Governance Research Agenda</h3>
              <p>When does targeting expertise enhance participation and problem solving? The research agenda on smarter governance requires answering, such questions as what kinds of expertise are most helpful to identify and the resulting real-world impact. The goal is to develop an understanding of whether and how targeting participation based on expertise (crowdsourcing wisely) might lead to more effective and more legitimate outcomes than broad citizen engagement (crowdsourcing widely).</p>
              <p class="e-more-info"><a href="research.html">Go to Research</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-6">
        <div class="b-tile flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <h2 class="e-tile-title">If Only We Knew How to Match People to Opportunities to Participate</h2>
            </div>
            <div class="back">
              <h3>Smarter Governance Living Labs</h3>
              <p>The Smarter Governance Living Labs are a collection of current and planned projects to demonstrate and study how institutions can tap the intelligence and expertise of a distributed network to improve decisionmaking.</p>
              <p class="e-more-info"><a href="labs.html">Go to Labs</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
{% endblock %}
{% block scripts %}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}