{% extends "layout/base.html" %}
{% block content %}
<div id="tools" class="b-content-page">
  <section class="b-page-title">
  	<div class="row">
  		<h1>Law</h1>
  	</div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
      	<p>It is not an exaggeration to say that today’s information laws at the federal level in the United States, especially the Federal Advisory Committee Act and the Paperwork Reduction Act, impede robust citizen engagement. We are working to craft law and policy to support smarter governance (in collaboration with Yale Law School).</p>
			</div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
      	<h2>legal primer</h2>
      </div>
    </div>
  </section>

  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>journal publications</h2>
      </div>
    </div>
  </section>

  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>articles</h2>
      </div>
    </div>
  </section>

  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>conference agenda</h2>
      </div>
    </div>
  </section>
</div>
{% endblock %}