{% extends "layout/base.html" %}
{% block content %}
<div id="living-labs" class="b-content-page">
  <section class="b-page-title">
  	<div class="row">
  		<h1>Living Labs</h1>
  	</div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2></h2>
        <p>The GovLab’s Smarter Governance Living Labs are a collection of projects looking at how institutions can tap the intelligence and expertise of a distributed network to improve decisionmaking. The goal is to develop an understanding of whether and how targeting participation based on skills, experience and expertise (crowdsourcing wisely) might lead to more effective and more legitimate outcomes than broad citizen engagement (crowdsourcing widely).</p>
      </div>
    </div>
  </section>
  <section class="b-project-list row b-content-section">
    <ul class="column large-12">
      <li class="b-project-list-item">
        <h3 class="e-project-name">Network of Innovators</h3>
        <h4>Building a multi-country network of governance innovators - If We Build It, Will They Come?</h4>
        <div class="e-project-description">
          <p>The project (coordinated by the Governance Lab and NESTA) aims to organize directories of expertise, including skills and experience, of those working in government across multiple countries in twelve domains believed to be integral to governing more effectively and legitimately: 1) open and big data, 2) agile and rapid prototyping, including human-centered design 3) behavioral sciences and nudging, 4) systems thinking, 5) crowdsourcing and engagement, 6) payment by results, 7) public-private partnerships, 8) citizen science, 9) prizes and challenges, 10) social action and collaborative governance, 11) social impact bonds, and 12) expert systems.</p>
        </div>
      </li>

      <li class="b-project-list-item">
        <h3 class="e-project-name">FDA</h3>
        <h4>Designing the experimental framework to measure the impact of expert networking on medical device review - Does targeting expertise improve outcomes?</h4>
        <div class="e-project-description">
          <p>The Governance Lab @ NYU and MacArthur Foundation Research Network on Opening Governance are evaluating several potential impacts of the introduction of a piece of expert networking software, FDA Profiles. This software is designed to decrease frictions in identifying qualified government employees to participate in medical device regulatory review panels. FDA Profiles aggregates information about the expertise of potential reviewers including historical project roles from the FDA’s internal HR database, publications on PubMed, and self-reported information about an individual’s skills and experience.</p>
        </div>
      </li>

      <li class="b-project-list-item">
        <h3 class="e-project-name">NHS Public Data Science Network/OpenNYU</h3>
        <h4>Working with partners to identify the demand for data science expertise and provide the supply from the world’s universities - Can we match demand to supply?</h4>
        <div class="e-project-description">
          <p>The primary challenge facing the NHS is a lack of public trust in connection with its efforts to open up its data and make it more accessible to patients, providers and researchers to the end of improving health and well-being for Britons. The lack of trust is partly the result of the global climate and party the fear that the NHS will use personal health data for nefarious purposes.</p>
        </div>
      </li>

      <li class="b-project-list-item">
        <h3 class="e-project-name">Buenos Aires Expert Net</h3>
        <h4>Creating a directory of municipal government employees and their skills - Do expert networks improve collaborative problem solving?</h4>
        <div class="e-project-description">
          <p>Professionals in municipal government have a hard time identifying who among their colleagues has the experience and expertise to improve how a city serves its citizens. The person sitting at the next desk with the ambiguous title of “manager” or “director” could have the know-how to make the difference between success and failure in an important public project. To make city government more effective, we want to be able to identify the talents, skills and capacity of the municipal workforce.</p>
        </div>
      </li>

      <li class="b-project-list-item">
        <h3 class="e-project-name">Cyber-Security Expert Net</h3>
        <h4>TBD</h4>
        <div class="e-project-description">
          <p>TBD</p>
        </div>
      </li>
      
  </section>
</div>
{% endblock %}