{% extends "layout/base.html" %}
{% block content %}
<div id="research" class="b-content-page">
  <section class="b-page-title">
  	<div class="row">
  		<h1>Research</h1>
  	</div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
      	<p>The field of expert networking currently lacks in-depth knowledge of the context and conditions in which targeting requests to participate based on skills and experience are most effective. As it stands, we do not understand:</p>
        <ul class="b-list">
          <li>What kinds of expertise are most helpful to identify; </li>
          <li>What the best ways to collect that information are; </li>
          <li>How expertise impacts people’s willingness to collaborate; </li>
          <li>Whether identifying internal and external expertise helps institutions to be more effective at solving problems and sharing best practices; and </li>
          <li>The resulting real-world impact.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <p>To help build a knowledge base for the field of expert networking and develop a blueprint for the contexts and conditions in which expert networking can be most effective, through its action research projects, the GovLab is seeking to answer:</p>
      </div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Expertise: Identification</h2>
        <ul class="b-list">
          <li>How do we know who knows what and target requests to participate?</li>
          <li>Can we supplement the use of the three paradigmatic techniques for identifying expertise – reputation, credential and experience – with self-reported information to obtain a full understanding of individuals’ expertise and experience?</li>
          <li>Through strategic data collection and analysis, is it possible to determine not only who is capable of helping to address a problem, but also who is willing to do so?</li>
          <li>How can we identify the types of problems that are best-suited to getting expertise in?</li>
          <li>How can different data sources – including internal institutional databases and existing social networks like LinkedIn – be linked together to provide a multi-faceted view of individuals’ expertise and experience?</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Expertise: Matching</h2>
        <ul class="b-list">
          <li>What can we learn from experiences in online search and advertising, academic discovery and other contexts regarding how to match people’s skills to work in different contexts, and apply those lessons?</li>
          <li>How do we match skills and expertise to problems?</li>
        </ul>
      </div>
    </div>
  </section>    

  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Expertise: Incentives and Motivation</h2>
        <ul class="b-list">
          <li>What incentives motivate people to share their knowledge and expertise?</li>
          <li>Are gamification techniques – such as point systems, badges and leaderboards – effective in incentivizing individuals to engage in expert networking?</li>
          <li>What are the extrinsic (like prizes) and intrinsic (such as ego, altruism, autonomy, curiosity, empathy, etc.) motivations for participation, and how do they compare within different contexts?</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Barriers: Cultural and Legal Challenges and Readiness</h2>
        <ul class="b-list">
          <li>What are the legal and cultural impediments for different institutions to be open to expertise?</li>
          <li>How can intentionally closed institutions be pushed to open themselves to leveraging outside expertise and sharing their own?</li>
          <li>What absorptive capabilities must institutions develop to assimilate the diverse knowledge of identified experts?</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Framing: Problem Definition</h2>
        <ul class="b-list">
          <li>How can those seeking to leverage expertise frame requests so as to:
              <ul class="b-list">
                <li>Articulate the problem in a language that captures interest and expertise otherwise untapped;</li>
                <li>Clarify the urgency and need to find a solution;</li>
                <li>Develop sufficiently granular problem statements for productive ideation;</li>
                <li>Promote and embrace diverse and novel responses that expand the existing solution space;</li>
                <li>Entice the relevant experts to respond?</li>
              </ul>
          </li>
          <li>How does ambiguity in the problem statement or targeted request hinder success?</li>
          <li>How can ambiguity be avoided when defining the problem?</li>
          <li>How can problems be framed in a way that helps engage experts in unrelated fields who could contribute based on solutions encountered in their own work?</li>
        </ul>
      </div>
    </div>
  </section>


</div>
{% endblock %}