{% extends "layout/base.html" %}
{% block content %}
<div id="tools" class="b-content-page">
	<section class="b-page-title ">
  	<div class="row">
  		<h1>Tools</h1>
  	</div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
      	<p>Over the last decade software makes it possible to identify with precision who knows what and match them to opportunities to serve. These tools -- expert networking platforms, people search, expert discovery, expertise retrieval, expert finding, expert profiling, and e-expertise tools -- help to answer the question: who knows what. We are researching existing and designing new tools to make expertise searchable.</p>
      </div>
    </div>
	</section>
  
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Ideoba</h2>
      </div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Profina</h2>
      </div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Open-Steps</h2>
      </div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>LinkedIn</h2>
      </div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>VIVO</h2>
      </div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="row">
      <div class="column large-12">
        <h2>Harvard Catalyst Profiles</h2>
      </div>
    </div>
  </section>













</div>
{% endblock %}