{% extends "layout/base.html" %}
{% block content %}
<div id="page-id" class="b-content-page">

{# we start most pages with this block #}
  <div class="b-page-title">
    <div class="row">
      <div class="large-12 column">
        <h2>Page Title</h2>
        <p>Optional Tagline or Paragraph</p>
      </div>
    </div>
  </div>
{# end of starting block #}
  
{# This is a repeatable block #}
  <section class="row b-content-section">
    <div class="row">
      <div class="large-6 column">
        // content in the left column
      </div>
      <div class="large-6 column">
          // content in the right column
      </div>
    </div>
  </section>
{# end of repeatable block #}

</div>{% endblock %}
